## Name : Archana Shirke
## Roll No. : EN23107139
## Batach : "B"

In [2]:

import pandas as pd
data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [3]:
data = data[[
    "Age",
    "MonthlyIncome",
    "JobSatisfaction",
    "YearsAtCompany",
    "Attrition"
]]

In [4]:
data.isnull()

        Age  MonthlyIncome  JobSatisfaction  YearsAtCompany  Attrition
0     False          False            False           False      False
1     False          False            False           False      False
2     False          False            False           False      False
3     False          False            False           False      False
4     False          False            False           False      False
...     ...            ...              ...             ...        ...
1465  False          False            False           False      False
1466  False          False            False           False      False
1467  False          False            False           False      False
1468  False          False            False           False      False
1469  False          False            False           False      False

[1470 rows x 5 columns]

In [5]:
data.isnull().sum()

Age                0
MonthlyIncome      0
JobSatisfaction    0
YearsAtCompany     0
Attrition          0
dtype: int64

## Using PyTorch

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
data["Attrition"] = encoder.fit_transform(data["Attrition"])

/tmp/ipykernel_7404/4148942577.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Attrition"] = encoder.fit_transform(data["Attrition"])

In [8]:
X = data.drop("Attrition", axis=1).values
y = data["Attrition"].values

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [11]:
import torch

X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)

y_train = torch.tensor(y_train, dtype=torch.float32).view(-1, 1)
y_test = torch.tensor(y_test, dtype=torch.float32).view(-1, 1)

In [12]:
import torch.nn as nn

class AttritionModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc = nn.Linear(4, 1)

    def forward(self, x):
        return torch.sigmoid(self.fc(x))

In [13]:
model = AttritionModel()

loss_function = nn.BCELoss()

optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [14]:
for epoch in range(50):
    optimizer.zero_grad()
    output = model(X_train)
    loss = loss_function(output, y_train)
    loss.backward()
    optimizer.step()

In [15]:
with torch.no_grad():
    predictions = model(X_test)
    predictions = (predictions >= 0.5).float()

In [16]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)
print("Model Accuracy:", accuracy)

Model Accuracy: 0.8197278911564626

## Using TensorFlow

In [18]:

import pandas as pd

In [19]:
data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [20]:

data = data[
    ["Age", "MonthlyIncome", "JobSatisfaction",
     "YearsAtCompany", "Attrition"]
]

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
encoder = LabelEncoder()
data["Attrition"] = encoder.fit_transform(data["Attrition"])

In [23]:
X = data.drop("Attrition", axis=1).values
y = data["Attrition"].values

In [24]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [25]:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2025-12-22 16:02:51.531334: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [27]:
model = Sequential()
model.add(Dense(1, activation='sigmoid', input_shape=(4,)))

2025-12-22 16:02:52.478465: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2025-12-22 16:02:52.478676: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2025-12-22 16:02:52.478683: W tensorflow/stream_executor/cuda/cuda_driver.cc:326] failed call to cuInit: UNKNOWN ERROR (303)
2025-12-22 16:02:52.478694: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ailcomp10): /proc/driver/nvidia/version does not exist
2025-12-22 16:02:52.478825: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-12-22 16:02:52.479148: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [28]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [29]:
model.fit(
    X_train,
    y_train,
    epochs=50,
    batch_size=16,
    verbose=1
)

2025-12-22 16:02:52.526715: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2025-12-22 16:02:52.549578: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2592000000 Hz

Epoch 1/50
74/74 [==============================] - 0s 307us/step - loss: 0.8789 - accuracy: 0.4191
Epoch 2/50
74/74 [==============================] - 0s 325us/step - loss: 0.8238 - accuracy: 0.4775
Epoch 3/50
74/74 [==============================] - 0s 371us/step - loss: 0.8299 - accuracy: 0.4575
Epoch 4/50
74/74 [==============================] - 0s 361us/step - loss: 0.7593 - accuracy: 0.5028
Epoch 5/50
74/74 [==============================] - 0s 355us/step - loss: 0.7170 - accuracy: 0.5312
Epoch 6/50
74/74 [==============================] - 0s 336us/step - loss: 0.6584 - accuracy: 0.5944
Epoch 7/50
74/74 [==============================] - 0s 338us/step - loss: 0.6484 - accuracy: 0.5886
Epoch 8/50
74/74 [==============================] - 0s 328us/step - loss: 0.6377 - accuracy: 0.6263
Epoch 9/50
74/74 [==============================] - 0s 345us/step - loss: 0.5975 - accuracy: 0.6760
Epoch 10/50
74/74 [==============================] - 0s 342us/step - loss: 0.5782 - accuracy: 0.7518
Epoch 11/50
74/74 [==============================] - 0s 359us/step - loss: 0.5621 - accuracy: 0.7881
Epoch 12/50
74/74 [==============================] - 0s 351us/step - loss: 0.5487 - accuracy: 0.8091
Epoch 13/50
74/74 [==============================] - 0s 342us/step - loss: 0.5364 - accuracy: 0.8236
Epoch 14/50
74/74 [==============================] - 0s 346us/step - loss: 0.5179 - accuracy: 0.8323
Epoch 15/50
74/74 [==============================] - 0s 353us/step - loss: 0.5318 - accuracy: 0.8173
Epoch 16/50
74/74 [==============================] - 0s 343us/step - loss: 0.5007 - accuracy: 0.8316
Epoch 17/50
74/74 [==============================] - 0s 352us/step - loss: 0.4891 - accuracy: 0.8352
Epoch 18/50
74/74 [==============================] - 0s 362us/step - loss: 0.4906 - accuracy: 0.8311
Epoch 19/50
74/74 [==============================] - 0s 279us/step - loss: 0.4829 - accuracy: 0.8307
Epoch 20/50
74/74 [==============================] - 0s 421us/step - loss: 0.4546 - accuracy: 0.8500
Epoch 21/50
74/74 [==============================] - 0s 279us/step - loss: 0.4695 - accuracy: 0.8319
Epoch 22/50
74/74 [==============================] - 0s 415us/step - loss: 0.4528 - accuracy: 0.8421
Epoch 23/50
74/74 [==============================] - 0s 268us/step - loss: 0.4549 - accuracy: 0.8369
Epoch 24/50
74/74 [==============================] - 0s 404us/step - loss: 0.4708 - accuracy: 0.8188
Epoch 25/50
74/74 [==============================] - 0s 271us/step - loss: 0.4660 - accuracy: 0.8185
Epoch 26/50
74/74 [==============================] - 0s 404us/step - loss: 0.4371 - accuracy: 0.8400
Epoch 27/50
74/74 [==============================] - 0s 292us/step - loss: 0.4383 - accuracy: 0.8400
Epoch 28/50
74/74 [==============================] - 0s 419us/step - loss: 0.4427 - accuracy: 0.8354
Epoch 29/50
74/74 [==============================] - 0s 293us/step - loss: 0.4467 - accuracy: 0.8311
Epoch 30/50
74/74 [==============================] - 0s 355us/step - loss: 0.4477 - accuracy: 0.8266
Epoch 31/50
74/74 [==============================] - 0s 371us/step - loss: 0.4355 - accuracy: 0.8344
Epoch 32/50
74/74 [==============================] - 0s 289us/step - loss: 0.4259 - accuracy: 0.8450
Epoch 33/50
74/74 [==============================] - 0s 437us/step - loss: 0.4398 - accuracy: 0.8267
Epoch 34/50
74/74 [==============================] - 0s 274us/step - loss: 0.4418 - accuracy: 0.8237
Epoch 35/50
74/74 [==============================] - 0s 411us/step - loss: 0.4341 - accuracy: 0.8344
Epoch 36/50
74/74 [==============================] - 0s 276us/step - loss: 0.4125 - accuracy: 0.8467
Epoch 37/50
74/74 [==============================] - 0s 400us/step - loss: 0.4321 - accuracy: 0.8306
Epoch 38/50
74/74 [==============================] - 0s 303us/step - loss: 0.4512 - accuracy: 0.8130
Epoch 39/50
74/74 [==============================] - 0s 315us/step - loss: 0.4496 - accuracy: 0.8261
Epoch 40/50
74/74 [==============================] - 0s 401us/step - loss: 0.4271 - accuracy: 0.8424
Epoch 41/50
74/74 [==============================] - 0s 295us/step - loss: 0.4144 - accuracy: 0.8422
Epoch 42/50
74/74 [==============================] - 0s 550us/step - loss: 0.4164 - accuracy: 0.8359
Epoch 43/50
74/74 [==============================] - 0s 665us/step - loss: 0.4180 - accuracy: 0.8354
Epoch 44/50
74/74 [==============================] - 0s 457us/step - loss: 0.4285 - accuracy: 0.8327
Epoch 45/50
74/74 [==============================] - 0s 572us/step - loss: 0.4158 - accuracy: 0.8385
Epoch 46/50
74/74 [==============================] - 0s 647us/step - loss: 0.4038 - accuracy: 0.8485
Epoch 47/50
74/74 [==============================] - 0s 257us/step - loss: 0.4070 - accuracy: 0.8396
Epoch 48/50
74/74 [==============================] - 0s 271us/step - loss: 0.4274 - accuracy: 0.8371
Epoch 49/50
74/74 [==============================] - 0s 371us/step - loss: 0.3996 - accuracy: 0.8447
Epoch 50/50
74/74 [==============================] - 0s 311us/step - loss: 0.4271 - accuracy: 0.8323

In [30]:
loss, accuracy = model.evaluate(X_test, y_test)
print("Model Accuracy:", accuracy)

10/10 [==============================] - 0s 362us/step - loss: 0.3699 - accuracy: 0.8673
Model Accuracy: 0.8673469424247742